@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.header {
  background: #222;
  padding: 25px 100px;
  font-weight: 600;
}

main {
  margin: 50px 100px;
  width: 50%;
  float: left;
}

aside {
  width: 20%;
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}

main .user {
  margin-bottom: 50px;
  background: #a7a2f0;
  padding: 20px;
}

.user-text {
  padding: 14px 0;
}

.delete-icon,
.edit-icon {
  float: right;
  color: #706b9f;
  cursor: pointer;
  transform: scale(1.5);
}

.edit-icon {
  margin-right: 14px;
}

.delete-icon:hover,
.edit-icon:hover {
  opacity: 0.5;
}

form input:not([type="checkbox"]),
form textarea,
form button {
  width: 90%;
  padding: 15px 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 10px;
  border: 0;
  background: #222;
  color: #fff;
  outline: none;
}

form input[type="checkbox"] {
  margin: 10px;
}

textarea {
  height: 100px;
  resize: none;
}

form button {
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
  transition: background 500ms ease;
}

form button:hover {
  background: #736cc1;
}

.user form {
  margin-top: 20px;
}

.user form input,
.user form textarea,
.user form button {
  background: #706b9f;
}